p + p {
    margin-top: 1em;
}

main {
    width: 100%;
    overflow-x: hidden;
}

.__1920 {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.nowrap {
    white-space: nowrap;
}

.lazyLoad:not(.fadeUp) {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.isLoaded:not(.fadeUp) {
    opacity: 1;
}

.lazy-no-anim.lazyLoad,
.lazy-no-anim .lazyLoad {
    transition: none;
}

video {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

video.loading {
    opacity: 0;
}

.snap-x-mandatory {
    scroll-snap-type: x mandatory;
}
.snap-y-mandatory {
    scroll-snap-type: y mandatory;
}
.snap-align-start {
    scroll-snap-align: start;
}
.snap-align-center {
    scroll-snap-align: center;
}
.snap-align-end {
    scroll-snap-align: end;
}

.scroll-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000000;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
}

.vimeo_absolute_fullscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max(100vw, calc(100vh * 1.78));
    height: max(100vh, calc(100vw / 1.78));
}
